* {
    margin: 0;
    padding: 10px;
}


.h {
    height: 100%;
}



.from-container {
    display: flex;
}

.left-container_text {
    padding: 0px 100px;
    text-align: center;
    align-items: center;
}

.left-container {

    align-items: center;
    background: #ffc107;
    text-align: center;
    width: 25%;
    color: #fff;
}

.left-container_text p {
    font-size: 0.9rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.right-container_side {

    padding: 0px 4px 5px 50px;
    display: flex;
     flex: 1;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.right-container p {
    text-align: left;

}



input,
textarea {
    background: #eee;
    outline: none;
    border: 2px solid #eee;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
}

input:focus,
textarea:focus {
    border: 2px solid #ffc107;
}

button {
    border-radius: 20px;
    border: 2px solid #bead7b;
    background: #2c3775;
    color: #eee;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 45px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    align-items: left;

}

button:hover {
    background: #fff;
    color: #2c3775;

}